.transparent-pricing {
  font-family: "Garnett Regular";
}
.choose-your-simple-container {
  position: absolute;
  top: 67px;
  left: calc(50% - 437px);
  font-size: 42px;
  line-height: 50px;
  text-transform: capitalize;
  text-align: left;
}
.suitable-for-companies1 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.icons6 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.interview-ready-candidates1 {
  flex: 1;
  position: relative;
}
.icons-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.frame-parent3,
.suitable-for-companies-with-5-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent3 {
  align-self: stretch;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  color: #eee5ff;
  font-family: Poppins;
}
.suitable-for-companies-with-5-group {
  position: absolute;
  top: 184px;
  left: calc(50% - 148px);
  width: 296px;
  gap: 20px;
}
.div3,
.months {
  position: relative;
}
.div3 {
  font-weight: 500;
}
.months {
  font-family: "Garnett Medium";
}
.container,
.div4,
.month2 {
  display: flex;
  align-items: center;
}
.container {
  position: absolute;
  top: 34px;
  left: calc(50% - 54.5px);
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;
  font-size: 23px;
  font-family: "Space Grotesk";
}
.div4,
.month2 {
  position: relative;
  justify-content: center;
  flex-shrink: 0;
}
.div4 {
  align-self: stretch;
  width: 26px;
  font-weight: 500;
  font-family: "Space Grotesk";
}
.month2 {
  width: 61px;
  font-size: 16px;
  height: 38px;
}
.parent1 {
  position: absolute;
  top: 82px;
  left: calc(50% - 112.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 40px;
}
.get-started3 {
  position: relative;
  font-weight: 500;
  z-index: 0;
}
.vector-icon11,
.vector-icon12 {
  width: 18px;
  position: relative;
  height: 0;
}
.vector-icon12 {
  width: 7px;
  height: 14px;
  margin-left: -5px;
}
.arrow4,
.simple-button4 {
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.arrow4 {
  width: 1px;
  margin: 0 !important;
  top: 21.5px;
  left: 112px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.simple-button4 {
  top: 567px;
  left: 36px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 20px 40px rgba(92, 39, 192, 0.35);
  width: 296px;
  display: flex;
  padding: 16px 30px;
  box-sizing: border-box;
  gap: 16px;
  color: #5c27c0;
  font-family: Poppins;
}
.most-popular {
  position: relative;
}
.frame-wrapper,
.most-popular-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper {
  position: absolute;
  top: 0;
  left: 234.5px;
  border-radius: 0 0 0 5px;
  background-color: #ffb649;
  width: 132px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: #1f1f1f;
}
.frame-parent2 {
  width: 366px;
  position: relative;
  border-radius: 10px;
  background-color: #5c27c0;
  box-shadow: 0 20px 40px rgba(118, 118, 118, 0.35);
  height: 656px;
  overflow: hidden;
  flex-shrink: 0;
  color: #f7f7f7;
}
.frame-parent1 {
  position: absolute;
  top: 184px;
  left: 120px;
  width: 1197px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Garnett Medium";
}
.book-a-demo1 {
  position: relative;
  z-index: 0;
}
.simple-button5 {
  position: absolute;
  bottom: 56px;
  left: calc(50% - 90px);
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.22);
  border: 2px solid #5c27c0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 30px;
  gap: 16px;
  font-family: Poppins;
}
.pricing-plans {
  position: absolute;
  top: 2647px;
  left: calc(50% - 720px);
  background-color: #fdfdfd;
  width: 1440px;
  height: 1044px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  color: #5c27c0;
  font-family: "Garnett Semibold";
}
