.operates {
  font-family: "Garnett Regular";
}
.how-our-system-container {
  position: absolute;
  top: 95px;
  left: calc(50% - 329px);
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  width: 658px;
  font-family: "Garnett Semibold";
}
.follow-the-link,
.sign-up {
  align-self: stretch;
  position: relative;
}
.sign-up {
  line-height: 28px;
  z-index: 0;
}
.follow-the-link {
  font-size: 18px;
  font-family: Poppins;
  color: #5b5b5b;
  display: inline-block;
  height: 100px;
  flex-shrink: 0;
  z-index: 1;
}
.mingcuteuser-add-line-icon {
  width: 84px;
  position: absolute;
  margin: 0 !important;
  right: -0.4px;
  bottom: 0;
  border-radius: 10px 0 0 0;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.steps-parent,
.steps2 {
  display: flex;
  align-items: center;
}
.steps2 {
  align-self: stretch;
  flex: 1;
  background-color: #eee5ff;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px 60px;
  position: relative;
  z-index: 1;
  color: #1c1c1c;
  font-family: "Garnett Semibold";
}
.steps-parent {
  position: absolute;
  top: 259px;
  left: 120px;
  border-radius: 8px;
  width: 1198px;
  height: 282px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: 22px;
  color: #000;
}
.get-started1 {
  position: relative;
  font-weight: 500;
  z-index: 0;
}
.vector-icon7,
.vector-icon8 {
  width: 18px;
  position: relative;
  height: 0;
}
.vector-icon8 {
  width: 7px;
  height: 14px;
  margin-left: -5px;
}
.arrow2 {
  width: 1px;
  margin: 0 !important;
  position: absolute;
  top: 21.5px;
  left: 112px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.simple-button2,
.steps1 {
  position: absolute;
  background-color: #f7f7f7;
}
.simple-button2 {
  top: 630px;
  left: calc(50% - 82.5px);
  border-radius: 10px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.22);
  border: 2px solid #5c27c0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 30px;
  gap: 16px;
  font-size: 18px;
}
.steps1 {
  top: 1863px;
  left: calc(50% - 718px);
  width: 1438px;
  height: 784px;
  overflow: hidden;
  text-align: center;
  font-size: 38px;
  color: #5c27c0;
  font-family: Poppins;
}
